
.rectangle {
  width: 120px;
  height: 80px;
  background-color: skyblue;
}
.circle {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  border-radius: 50%;
}
.ellipse {
  width: 150px;
  height: 100px;
  background-color: skyblue;
  border-radius: 50%;
}
.rounded-rectangle {
  width: 150px;
  height: 100px;
  background-color: skyblue;
  border-radius: 10%;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 80px 110px 120px; /*更改各位置宽度可更改三角形类型*/
  border-color: skyblue transparent transparent transparent; /*更改各位置的颜色可得到不同方向的三角形*/
}
.triangle-base {
  width: 0;
  height: 0;
  border-left: 50px solid red;
  border-right: 50px solid red;
  border-bottom: 50px solid skyblue;
  border-top: 50px solid skyblue;
}
.triangle-top {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid skyblue;
}
.triangle-bottom {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid skyblue;
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 50px solid skyblue;
  border-bottom: 50px solid transparent;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 50px solid skyblue;
  border-bottom: 50px solid transparent;
}
.triangle-top-left {
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-top: 50px solid skyblue;
}
.triangle-top-right {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-top: 50px solid skyblue;
}
.triangle-bottom-left {
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 50px solid skyblue;
}
.triangle-bottom-right {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-bottom: 50px solid skyblue;
}
.trapezoid {
  /* width:0;
  height:100px;
  border-top:60px solid transparent;
  border-bottom:60px solid transparent;
  border-left:60px solid red; */
  /* width:100px;
  height:100px;
  border-right:60px solid red;
  border-bottom:60px solid transparent;
  border-top:60px solid transparent; */
  
  width:100px;
  height:100px;
  border-right:60px solid transparent;
  border-top:60px solid skyblue;
  border-left:60px solid transparent;
}
.cylindrical {
  width: 50px;
  height: 50px;
  background-color: skyblue;
  border-radius: 50px/25px;/*25px/50px;横着放的圆柱*/
}
.moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 skyblue;
}